services:
  loadbalander:
        build:
          context: ./loadBalancer
          dockerfile: Dockerfile
        ports:
          - "9099:5000"
        networks:
          loadbalancer_network:
            aliases:
              - load-balancer
  db:
    user: root
    image: postgres
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"

    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - PGUSER=postgres

    volumes:
      - ./db/latest.sql:/docker-entrypoint-initdb.d/dummy_dump.sql

    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "db_prod"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    networks:
        loadbalancer_network:

  pgadmin:
    user: root
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@admin.com"
      PGADMIN_DEFAULT_PASSWORD: "admin"
    ports:
      - "8200:80"
    depends_on:
      - db
    volumes:
      - ./pgadmin:/var/lib/pgadmin
    networks:
        loadbalancer_network:

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py createsuperuser --username admin --no-input
             python manage.py runserver 0.0.0.0:8000"

    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
      - DB_HOST=db
      - DJANGO_SUPERUSER_EMAIL=admin@admin.com
      - DJANGO_SUPERUSER_PASSWORD=admin

    ports:
      - "8000:8000"

    volumes:
      - .:/app/

    depends_on:
      db:
        condition: service_healthy

    networks:
        loadbalancer_network:
          aliases:
            - backend1

  backend2:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8001"

    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
      - DB_HOST=db
      - DJANGO_SUPERUSER_EMAIL=admin2@admin.com
      - DJANGO_SUPERUSER_PASSWORD=admin2

    ports:
      - "8001:8001"

    volumes:
      - .:/app/

    depends_on:
      db:
        condition: service_healthy

    networks:
        loadbalancer_network:
          aliases:
            - backend2


networks:
  loadbalancer_network:
    name:  load_balancer_net
    driver: bridge
    ipam:
      driver: default